{% extends 'base.html.twig' %}

{% block title %}Exporter ses deck{% endblock %}

{% block body %}
    <h1>Exporter ses deck</h1>

    {# Vérifier s'il y a des decks à afficher #}
    {% if decks is empty %}
        <p>pas de deck a afficher.</p>
    {% else %}
        <h2>list des decks</h2>
        <ul>
            {% for deck in decks %}
                <li>
                    <strong>{{ deck.name }}</strong> 
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {# fichiers disponibles pour téléchargement #}
    {% if deckFiles is empty %}
        <p>Pas de fichier a télécharger.</p>
    {% else %}
        <h2>Fichier a télécharger</h2>
        <ul>
            {% for fileName in deckFiles %}
                <li>
                    <a href="{{ path('app_download_file', { fileName: fileName }) }}" class="btn btn-primary" download>
                        télécharger {{ fileName }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
