<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        HB News
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>" />
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 dark:text-white">
    <header>{{ include('nav.html.twig') }}</header>

      {#  MESSAGES FLASH #}
      {% for type, messages in app.flashes %}
        {% for message in messages %}
          <div 
            class="alert 
                  {% if type == 'success' %}bg-green-500{% endif %}
                  {% if type == 'warning' %}bg-yellow-500{% endif %}
                  {% if type == 'danger' %}bg-red-500{% endif %}
                  {% if type == 'felicitaschtroumpf' %}bg-blue-500{% endif %}
                  text-white p-4 mt-5 mb-4 w-1/4 fixed right-4 top-4 rounded-lg shadow-lg"
            role="alert">
            
            <p>{{ message }}</p>
            
            <button onclick="this.parentElement.style.display='none'" 
                    class="absolute top-0 right-0 mt-2 mr-2 text-white font-bold">
              &times;
            </button>
          </div>
        {% endfor %}
      {% endfor %}



    <main class="max-w-screen-xl mx-auto">
      {% block body %}

      {% endblock %}
    </main>

    <script type="text/javascript">
        function confirmLogout() {
            return confirm('Êtes-vous sûr de vouloir vous déconnecter ?');
        }
    </script>

    <footer></footer>
  </body>
</html>
